@model CargoType
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Price as per weight</h5>
        <div class="card-text">
            <label>Price Per Kg: @Model.Price</label>
            <br />
            <label>Weight Range for normal price: @Model.Weight</label>
            <br />
            <label>Extra Weight that can carry: @Model.ExtraWeight</label>
            <br />
            <label>Price per Extra Weight : @Model.ExtraPrice</label>
        </div>
    </div>
</div>