@model CargoSample2.Models.CargoOrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CargoOrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverName" class="control-label"></label>
                <input asp-for="ReceiverName" class="form-control" />
                <span asp-validation-for="ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverEmail" class="control-label"></label>
                <input asp-for="ReceiverEmail" class="form-control" />
                <span asp-validation-for="ReceiverEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverPhoneNo" class="control-label"></label>
                <input asp-for="ReceiverPhoneNo" class="form-control" />
                <span asp-validation-for="ReceiverPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAccepted" /> @Html.DisplayNameFor(model => model.IsAccepted)
                </label>
            </div>

            <div class="mb-2">
                <label asp-for="CargoStatusId" class="form-label">Cargo Type</label>
                <select asp-for="CargoStatusId" asp-items="@(new SelectList(ViewBag.CargoStatus,"StatusId","StatusName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="CargoStatusId"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustId" class="control-label"></label>
                <input asp-for="CustId" class="form-control" />
                <span asp-validation-for="CustId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoTypeId" class="control-label"></label>
                <input asp-for="CargoTypeId" class="form-control" />
                <span asp-validation-for="CargoTypeId" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="CityId" class="form-label">City</label>
                <select asp-for="CityId" asp-items="@(new SelectList(ViewBag.City,"Id","CityName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="CityId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Employee" asp-action="Dashboard">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
