@model CargoSample2.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Edit Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmpEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EmpId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label">Full Name</label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPhNo" class="control-label">Mobile Number</label>
                <input asp-for="EmpPhNo" class="form-control" />
                <span asp-validation-for="EmpPhNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpEmail" class="control-label">Email Id</label>
                <input asp-for="EmpEmail" class="form-control" />
                <span asp-validation-for="EmpEmail" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            </div>*@
            <input asp-for="Password" class="form-control" value=@Model.Password hidden />

            <div class="form-group">
                <label asp-for="IsApproved" class="control-label"></label>
                <select asp-for="IsApproved" class="form-control">
                    <option value="0">Pending</option>
                    <option value="1">Approved</option>
                </select>
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dashboard" asp-action="Admin">Back to Dashboard</a>
</div>

