@model AdminLoginModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <style>
        /* Your CSS rules here */
        body {
            font-family: Arial, sans-serif;
            background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://wallpapercave.com/dwp1x/wp7634275.jpg);
        }

        #container1 {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }

        #header1 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
        }

            #header1 img {
                height: 80px;
                margin-right: 40px;
            }

        .form-container {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px #dddddd;
        }

        form {
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 40px;
            color: #333333;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: left;
        }

        label {
            font-weight: bold;
            color: #333333;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #dddddd;
            border-radius: 5px;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #forgot-password {
            float: right;
            color: #4CAF50;
        }

        #switch-to-employee {
            display: block;
        }
    </style>
</head>

<form asp-controller="Admin" asp-action="Login" method="post">


    <body>
        <br />
        <br />
        <div id="container1">
            <div class="form-container">

                <h2>Admin Login</h2>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="form-label"></label>
                    <input type="text" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Login">

                </div>


            </div>
        </div>

    </body>
</form>
